body{
  background-color: black;
  color: aliceblue;
  font-family: Arial;
  margin: 30px;
}
.title{
  padding-top: 20px;
  padding-left: 50px;
}
.central-paragraph{
  padding-left: 48px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-css{
  cursor: pointer;
  background-color: black;
  border-radius: 130px;
  border-color: white;
  border-width: 4px;
  padding: 15px;
  margin: 10px;
}
.second-container{
  display: flex;
  flex-direction: row;justify-content: space-around;

}
.css-result{
  padding-top: 45px;
  font-size: 18px;
  font-weight: bold;
}
.css-move{
  margin-top: 20px;
  font-size: 15px;
  color: rgb(235, 235, 130);
}
.css-imgSmall{
  height: 50px;
  cursor: pointer;
  background-color: black;
  padding: 5px;
  margin: 1px;
}
.css-score{
  font-weight: bold;
  font-size: 22px;
  padding-top: 30px;
  padding-left: 65px;
}
.button-reset{
  padding: 10px 13px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 30px;
  margin-left: 65px;
  float: right;
  margin-right: 25px;
}

@media (min-width: 767px) {
  .container {
      display: flex;
      flex-direction: column;
  }
}